# Node related (React)
node_modules/
npm-debug.log
yarn-error.log
build/

# Python related (FastAPI)
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.pot
*.egg-info/
dist/
build/
docs/_build/

# IDE related
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS related
.DS_Store
Thumbs.db